<div class="container-cards">
    <div class="container">
        <div class="container-img">
            <img src="../../../../../assets/imgs/lavadero.png" alt="">
        </div>
        <div class="data-carwash">
            <div class="data">
                <h2>nombre del lavadero</h2>
                <span id="stars">★★★★★</span> <br>
                <span id="ubication">ubicacion del lavadero</span>
            </div>
            <div class="data">
                <strong>vehiculos que manejamos:</strong>
            </div>
        </div>
    </div>


</div>