<nz-layout class="layout">
  <nz-layout>
    <nz-header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LavaSoft</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto my-auto me-auto mb-2 mb-lg-0 justify-content-center navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <div class="d-flex">
              <button type="button" class="btn btn-link">Iniciar Sesion</button>
              <button type="button" class="btn btn-link">Registrarse</button>
            </div>

          </div>


        </div>
      </nav>
    </nz-header>














    <nz-content>
      <div class="inner-content">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 text-center">
              <h1>¡Bienvenido a LavaSoft!</h1>
              <p>¡Somos el servicio que tu vehiculo necesita para lucir y oler como nuevo, sin perder tiempo!</p>
              <button class="btn btn-primary m-3">¡Descubre como!</button>
              <p>Y siguenos en redes para no pederte<br>de nuestras novedades.</p>
              <div class="social-media">
                <a href="https://www.facebook.com/LavaSoft-100110000000000" target="_blank" rel="noopener" title="social media link"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/lavasoft/" target="_blank" rel="noopener" title="social media link"><i class="bi bi-instagram"></i></a>
                <a href="https://twitter.com/LavaSoft" target="_blank" rel="noopener" title="social media link"><i class="bi bi-twitter"></i></a>
                <a href="https://www.tiktok.com/@lavasoft" target="_blank" rel="noopener" title="social media link"><i class="bi bi-tiktok"></i></a>
              </div>



            </div>
            <div class="col-lg-6 col-md-12">
              <img src="../../assets/images/home-lavasoft.png" alt="Imagen de bienvenida" class="img-fluid">
            </div>
          </div>
        </div>


      </div>
    </nz-content>
    <nz-footer>LavaSoft ©2023 All rights reserved</nz-footer>
  </nz-layout>
</nz-layout>
